<ul>
  <li>
    <div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);"
            ><span class="spantext">Draft</span></a
          >
        </div>
        <div class="spaceheight">
          <span
            >Abhishek Virupakshling
            Badigannavar(Abhishek.Badigannavar@gds.ey.com)</span
          >
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);">Submitted</a>
        </div>
        <div class="spaceheight">
          <span>Jegannath T Ravindran</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);">Call Required</a>
        </div>
        <div class="spaceheight">
          <span>Benjamin Krishbaum</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);">Call Scheduled</a>
        </div>
        <div class="spaceheight">
          <span>Jegannath T Ravindran</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);"
            >Returned to Pursuit Team</a
          >
        </div>
        <div class="spaceheight">
          <span>Benjamin Krishbaum</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);">ReSubmitted</a>
        </div>
        <div class="spaceheight">
          <span>Benjamin Krishbaum</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);"
            >Returned to Pursuit Team</a
          >
        </div>
        <div class="spaceheight">
          <span>Benjamin Krishbaum</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);">Resubmitted</a>
        </div>
        <div class="spaceheight">
          <span>Benjamin Krishbaum</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);">Under Review</a>
        </div>
        <div class="spaceheight">
          <span>Benjamin Krishbaum</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);"
            >Approval Notice Pending</a
          >
        </div>
        <div>
          <span>Jegannath T Ravindran</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);"
            >Approval Notice Issued</a
          >
        </div>
        <div class="spaceheight">
          <span>Benjamin Krishbaum</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
      <div class="spacemargin">
        <div>
          <a href="#" style="background: rgb(194, 96, 96);"
            >Approval Notice Issued</a
          >
        </div>
        <div class="spaceheight">
          <span>Benjamin Krishbaum</span>
          <br />
          <span>Date: 30/11/2021</span>
        </div>
      </div>
    </div>
  </li>
</ul>
